@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Noto Serif", serif;
    font-size: 17px;
    font-weight: 500;
}

@font-face {
    font-family: 'conv_original-hafs';
    src: url('KFGQPC\ Uthmanic\ Script\ HAFS.otf') format('truetype');
}

.all-data1{
    border: 3px solid blue;
}
.data2{
    margin-bottom:100px;
}
.icon-qwr svg:hover{
    fill: #ffffff45;
    transform: scale(1.1);
}
.icon-loop{
    animation: nums 2s linear infinite;
}
.scroll{
    position: absolute;
    bottom: 15px;
    height: 30px;
    z-index: 1;
    right: 0;
    width: 100%;
    display: var(--rr,none);
}

.scroll-icon{
    position: absolute;
    left: 0;
    margin-left:20px;
    width: 30px;
    height: 100%;
    fill: white;
}
.scroll svg{
    width: 100%;
    height: 100%;
}
.icon-loop svg:hover{
    transform: scale(1.0);
    fill:black;
}
@keyframes nums {
    0%{
        transform: rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}
.img-nams{
    background: #123;
    width: 100%;
    height: 60px;
}
svg{
    cursor: pointer;
}
::-webkit-scrollbar{
    display: none;
}
.nem-img{
    position: absolute;
    top: 0;
    right: 10px;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.nem-img b{
    margin-right: 40px;
    font-family:  'Lateef', sans-serif;
}
.nem-img img{
    width: 50px;
    height: 50px;
    border-radius: 6px;
    box-shadow: 0 0 8px 2px white;
}
.icon-serch{
    position: absolute;
    fill: #9e9e9e;
    z-index:1;
    width: 16px;
    height: 16px;
    margin-left:3px ;
    transition: 300ms;
}
.icon-serch:hover{
    transform: scale(1.1);
    fill: #40505f;
}
#serch_data{
    display:flex;
    align-items:center;
    margin-left: 10px;
    max-width: 50%;
    width: auto;
}
.audios-index b{
    color: white;
}
.numper{
    color: gold;
    font-size: 20px;
    margin-right: 15px;
}
.cli{
    position: absolute;
    width: 100%;
    height: 100%;
}
@keyframes num {
    0%{
        transform: rotate(0);
        fill: black;
    }
    50%{
        fill: #fff;
    }
    100%{
        transform:rotate(360deg);
        fill: black;
    }
}
.name-HTML{
   position: relative;
   display: grid;
   place-items: center; 
   background:#123;
   border-radius: 8px;
   width: 100%;
   height: 60px;
   margin-top: -70px;
   transition: 1s;
}
.name-HTML1{
    margin-top: 0;
}
.serch-par{
    transition:width 300ms;
    /* background: blanchedalmond; */
    height: 100%;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.serch-par p{
    color: white;
    font-family:  'Lateef', sans-serif;
    font-size: 33px;
}
#serch{
    text-align: right;
    border: 0;
    padding: 1.2px;
    outline: none;
    border-radius: 4.5px;
    transition: 300ms;
    width:100%;
}
#serch:focus{
    box-shadow: 1px 1px  10px 1.5px red;
    transform: scale(1.1);
}
#serch:hover{
    box-shadow: 1px 1px  10px 1.5px red;
    transform: scale(1.1);
}
.img-name p{
    color: white;
}
body{
    background-color: #231a1a;
}
#imgs{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
    z-index: -1;
}
#all-data{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.audios-index{
    position:absolute;
    right:10px;
    width:auto;
    height:100%;
    display: flex;
    align-items:center;
}
.audios-index img{
    width: 50px;
    height: 50px;
    border-radius: 6px;
    box-shadow: 0 0 10px 1px white;
}
.audios-index b{
    margin-right: 50px;
}
.data_audio{
    transition:width 300ms;
    position: absolute;
    right: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.all-data{
    position: relative;
    background: #124;
    width: 99%;
    margin-top: 3px;
    height: 60px;
    border-radius: 10px;
}

.data{
    position: fixed;
    z-index: 2;
    display: none;
    place-items: center;
    background: darkslategray;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

@media screen and (min-width:882px){
    .name-HTML{
        height: 70px;
    }
    .serch-par p{
        font-size: 40px;
    }
    .par-qwr{
        margin: 5px;
    }
    #serch{
        width: 85%;
    }
    .serch-par{
        position: absolute;
        right: 5px;
    }
    .data{
        max-width: 55%;
    }
    .data_audio1{
        width: 45%;
    }
    .img-name img{
        max-width: 535px;
        max-height: 381px;
        height: 100%;
        width: 100%;
    }
}
.icon-img{
    position: absolute;
    top:0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 75%;
}
.window{
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    background: #123;
    width:30%;
    height: 70px;
    border-radius: 0 0 8px 8px ;
    min-width: 175px;
}
.window svg{
    position: absolute;
    width: 100%;
    height:100%;
}
.text{
    font-size: 72px;
    font-weight: bold;
    fill: transparent;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: draw 4s linear infinite;
    color: white;
    font-family:  'Lateef', sans-serif;
}
@keyframes draw {
    0% {
        stroke-dashoffset: 100%;
    }
    100%{
        stroke-dashoffset: 0%;
    }
}
.icon-clos{
    position:absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 99%;
}
.img-name{
    position: absolute;
    bottom: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
}
.img-name img{
    width: 95%;
    height: 100%;
    max-width: 550px;
    max-height: 318px;
    border-radius: 6px;
    box-shadow:2px 1px 20px 0px white;
    font-size: 7em;
    font-family: 'conv_original-hafs';
    color: #020441;
}
.img-name p{
    margin: 10px;
}
.hr-icon{
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    background: #123 ;
    height: auto;
    border-radius: 6px;
    padding-bottom: 7px;
    bottom: 0;
}
.icon-clos svg{
    fill: #020441;
    width: 32px;
    height: 32px;
    transition: 300ms;
}
.swr_inner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 1;
    background: beige;
}
.text-swr{
    width: 95%;
}
.text-swr h1,label{
    margin-bottom: 180px;
    font-family: 'conv_original-hafs';
    text-align: justify;
    font-size: 2.0em;
    font-weight: 400;
    text-align: justify;
    line-height: 1.65em;
    color: #17274a;
}
.text-swr label{
    color: red;
    font-size: 1.1em;
}
.text-img{
    width: 100%;
    display: grid;
    place-items: center;
    max-width: 850px;
    height: 100%;
    overflow: scroll;
}
.img-swr{
    max-width: 75%;
    width: 100%;
}
.img-swr img{
    width: 100%;
}
.text-swr h1 span{
    color: #0da755;
    font-size:  0.8em;
    font-family: 'conv_original-hafs';
}
.zIndex{
    position: fixed;
    right: 0;
    z-index: 1;
}
.icons-swr svg{
    width: 100%;
    fill: #124;
}
.icons-swr svg:hover{
    fill: #123;
}
.icons-swr{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 3px;
    top: 0;
    left: 0;
}
.icon-clos svg:hover{
    transform: scale(1.1);
}
.numpr-hr{
    width: 100%;
    display: grid;
    place-items: center;
}
.hr{
    position: relative;   
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 99%;
    height: 2.5px;
    border-radius: 6px;
    background: #99A3A4;
    transition: 500ms;
}
.hr:hover{
    height: 4px;
}
.hr:hover::before{
    content: var(--xx , "");
    text-align: center;
    position: absolute;
    width: auto;
    padding: 7px;
    border-radius: 8px;
    color: white;
    height: 20px;
    background:var(--bb , 'none');
    top: -50px;
    left: var(--ss , 0);
}
.hr:hover::after{
    content: "";
    width:15px;
    height: 15px;
    border-radius: 50%;
    margin-left: -8px;
    background: red;
}
#hr2{
    background:red;
    border-radius: 4px;
    height:100%;
}
.numpr{
    width: 99%;
    display: flex;
    justify-content: space-between;
}
.numpr p{
    color:#c3bfbf;
}
.icon-qwr{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
}
.icon-qwr svg{
    width:30px;
    height: 30px;
    transition: 300ms;
};
